:root {
    --background-3: #79558f;
    --background-2: #624079;
    --background: #4c2b62;
}
body, html {
    margin: 0;
    border: 0;
    background-color: var(--background);
}

/* variáveis do css */

@keyframes blink {
    50% {
        border-color: rgb(228, 138, 138);
    }
}

.hento_container {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap;
}
.hento-div{
    margin: 0.3em;
}
.hento_post {
    max-width: 8em;
    width: 100%;
}
.hento_post:hover{
    /*animation: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;*/
    cursor:pointer;
}
.hento-info-preview{
    height: 100%;
    background-color: var(--background-3);
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
}

#topBar {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    border-bottom: 2px solid var(--background-2);
}
#tag-input {
    border: none;
    border-radius: 10px;
    width: 20em;
    height: 2.2em;
    margin: 20px;
    background-color:  var(--background-2);
    color: white;
    font-size: 19px;
    padding: 0 1em;
}
#tag-input::placeholder { 
    color: rgb(224, 224, 224);
  }
#post-container {

    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 10px;
}
#post-info {
    width: auto;
    height: auto;
    background-color: var(--background-2);
}
.post-image {
    max-width: 50em;
    max-height: 50em;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}